*{
    padding: 0;
    margin: 0;
}

* {
  box-sizing: border-box;
}
.highlight-indicator{
  color: var(--secondary-color);
  font-weight: 900;
}

header{
  position: sticky;
  z-index: 99;
  top: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  width: 220px;
  background-color: var(--primary-color);
  padding: 24px;

  position: sticky;
  top: 60px;
  height: 100vh;
  overflow-y: auto;
}
.sidebar .category{
  margin-top: 10px;
}
.sidebar h2 {
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #444;
  margin-bottom: 10px;
  font-size: 15px;
  transition: color 0.3s, transform 0.3s;
}

.sidebar a:hover {
  color: var(--secondary-color);
  transform: translateX(4px);
}

.content {
  flex: 1;
  padding: 32px;

}

.not-found {
  margin: 50px;
  font-size: 50px;
}